In [6]:
def arithmetic_arranger():
   arithmetic_arranger(["32 + 8", "1 - 3801", "9999 + 9999", "523 - 49"], True)

In [9]:
print(arithmetic_arranger)

<function arithmetic_arranger at 0x000002BC2D4383A0>

In [16]:
a=32+8

In [17]:
a

40

In [19]:
b=1-3801

In [20]:
b

-3800

In [21]:
c=9999 + 9999

In [22]:
c

19998

In [23]:
d=523-49

In [24]:
d

474

In [28]:
a,b,c,d

(40, -3800, 19998, 474)

In [29]:
32 + 8, 1 - 3801, 9999 + 9999, 523 - 49

(40, -3800, 19998, 474)

In [51]:
print("    32")
print("+    8")
print(' -----')
print("    40")

    32
+    8
 -----
    40

In [53]:
print("      1")
print("-  3801")
print('  -----')
print("-  3800")

      1
-  3801
  -----
-  3800

In [54]:
print("   9999")
print("+  9999")
print('  -----')
print("  19998")

   9999
+  9999
  -----
  19998

In [55]:
print("   523")
print("-   49")
print(' -----')
print("   474")

   523
-   49
 -----
   474

In [56]:
arithmetic_arranger(["32 + 698", "3801 - 2", "45 + 43", "123 + 49"])

TypeError: arithmetic_arranger() takes 0 positional arguments but 1 was given

In [58]:
print("    32")
print("+  698")
print(' -----')
print("   730")

    32
+  698
 -----
   730

In [62]:
print("  3801")
print(" -   2")
print(' -----')
print("  3799")

  3801
 -   2
 -----
  3799

In [61]:
print("    45")
print(" +  43")
print('  ----')
print("    88")

    45
 +  43
  ----
    88

In [63]:
print("   123")
print(" +  49")
print(' -----')
print("   172")

   123
 +  49
 -----
   172